<div class="manifest">
  <h1 class="title">{{'manifest.title' | translate}}</h1>
  <div class="frame">
    <div class="text">
      <h2>Maniac Panda Games</h2>
      <h3>{{'manifest.subtitle' | translate}}</h3>
      <div class="paragraphs">
        <p>{{'manifest.text1' | translate}}</p>
        <p>{{'manifest.text2' | translate}}</p>
        <p>{{'manifest.text3' | translate}}</p>
        <p>{{'manifest.text4' | translate}}</p>
        <p>{{'manifest.text5' | translate}}</p>
      </div>
    </div>
  </div>
</div>
